
.apps {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 5vw 5vh 5vw;
}

.tabla-pelicula {
  display: flex;
  flex-grow: 2;
  width: 60%;
  height: 40%;

}

.detalle-pelicula {
  display: flex;
  flex-grow: 1;
  width: 30%;
  height: 30%
}
