
.apps {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 5vw 5vh 5vw;
}

#tabla-actores {

  height: 20vh;

}

#detalles {
  display:flex;
  flex-direction: row;

}
