<app-menu></app-menu>
<div class="apps">
  <div id="buscar">
    <div>
      <label>Buscar Sala por Nombre:</label>
      <input [(ngModel)]="busquedaNombre">
      <button (click)="buscarPorNombre()">Buscar</button>
    </div>

    <div id="input-pais">
      <label>Buscar Sala por Pais:</label>
      <input [(ngModel)]="busquedaPais">
      <button (click)="buscarPorPais()">Buscar</button>
    </div>

  </div>
  <div id="lista-cines">
    <div class='tabla'>
      <table class='tabla-peliculas'>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Pais</th>
            <th>Detalles</th>
            <th>Deshabilitar</th>
            <!-- (click)="mostrarDetallePeliculas(cine)" -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cine of listadoCines">
            <td>{{cine.nombre}}</td>
            <td><img [src]="cine.imagen"></td>
            <td>{{cine.pais.nombre}}</td>
            <td><button (click)="mostrarDetallePeliculas(cine)">Detalles</button></td>
            <td><button (click)="deshabilitarSala(cine)">X</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="detalles" *ngIf="listadoPeliculas != undefined">
    <div class="tabla">
      <table class='tabla-peliculas'>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Pelicula</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="mostrarPelicula(pelicula.pelicula)" *ngFor="let pelicula of listadoPeliculas">
            <td>{{pelicula.fecha}}</td>
            <td>{{pelicula.pelicula.nombre}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="app-detalle">
      <app-detalle-pelicula [peliculaSeleccionada]="peliculaParaDetalle"></app-detalle-pelicula>
    </div>

  </div>
</div>
