<app-menu></app-menu>

<div id="vista">
  <div id="alta">
    <form class="alta-actor">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nombre" name="nombre" placeholder="Nombre" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="apellido" name="apellido" placeholder="Apellido" required>
      </mat-form-field>

      <mat-radio-group aria-label="Seleccione una opcion">
        <mat-radio-button [(ngModel)]="sexo" value="masculino" name="masculino" ngDefaultControl>Masculino</mat-radio-button>
        <mat-radio-button [(ngModel)]="sexo" value="femenino" name="femenino" ngDefaultControl>Femenino</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="example-full-width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [(ngModel)]="fechaDeNacimiento" name="fecha" type="date" required>
      </mat-form-field>

      <mat-form-field *ngIf="paisDeOrigen!=undefined" class="example-full-width">
        <mat-label>Pais de origen</mat-label>
        <input matInput  [(ngModel)]="paisDeOrigen.nombre" name="pais" required disabled >
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="cargarActor()">Cargar</button>
    </form>
  </div>

  <div id="tabla-paises">
    <app-tablapaises (paisSeleccionado)="TomarPaisParaMostrar($event)"></app-tablapaises>
  </div>

  <div id="detalle-pais">
    <app-detalle-pais [paisSeleccionado]="paisParaMostrar" ></app-detalle-pais>
  </div>

</div>
